<!-- View HTML logic -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>GadgetShack - #title#</title>
</head>

<body>
    <nav class="navBar">
        <div class="logoBox"><a href="/">GadgetShack</a></div>
        <ul class="navLinksList">
            <li><a href="/">Home</a></li>
            <li><a href="/products">Shop</a></li>
            <li><a href="#">Register</a></li>
            <li><a href="#">Cart</a></li>
        </ul>
    </nav>

    <div class="main-container">
        #content#
    </div>

    <footer>
        <p>&copy; 2026 GadgetShack.</p>
    </footer>
</body>

</html>